<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	  autoReload ="true">
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<variable name="Layout"
			  value="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"/>

	<variable name ="LayoutWithAspNet"
			  value="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url:${aspnet-request-url}|action:${asp-mvc-action}"/>
	
	<!--Write Targets Into File-->
	<targets>
		<!--Write To File-->
		<target xsi:type="File" name="alldata" filename="File-FullAction-${shortdate}.log" layout="${Layout}"></target>
		<target xsi:type="File" name ="file_demo_1" filename="File-Actions-Except-Microsoft*-${shortdate}.log" layout="${LayoutWithAspNet}"></target>
	</targets>
	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*" minlevel="Trace" writeTo="alldata" />
		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" maxLevel="Info" final="true" />
		<logger name="*" minlevel="Trace" writeTo="file_demo_1" />
	</rules>
</nlog>